spring-ws-courses/src/main/webapp/WEB-INF/schemas/xsd/getCourse-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.xpadro.spring.samples.com/courses" xmlns:courses="http://www.xpadro.spring.samples.com/courses">
  <xs:element name="getCourseResponse">
    <xs:complexType>
      <xs:attribute name="courseId" use="required" type="xs:NCName"/>
      <xs:attribute name="description" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="subscriptors" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
